*{
  margin: 0px;
  padding: 0px;
}

.App {
  display: table;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://i.ibb.co/kSJxCGw/background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  color: aliceblue;
}

.alert {
  color: rgb(0, 0, 0);
  background-color: #ffa726;
}

.warning {
  color: #d32f2f;
}

.subtitle {
  color: aliceblue;
  font-size: 16px;
}

.nav {
  width: 100%;
  background-color: #23134F;
}

.dgroup {
  background-color: #00000073;;
}

.paper {
  background-color: #00000073;;
}

.Header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: table;
}

.Editor {
  display: table;
  background-color: #00000073;
}
